.route-node {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: left;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.route-node-icon {
    width: 60%;
    height: 60%;
    align-items: center;
    vertical-align: center;
}
